<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="weibo/UserMapper">   <!-- 命名空间，名字可以随意起，只要不冲突即可 -->
    <!-- 对象映射，可以不写 -->
    <!-- 查询功能，resultType 设置返回值类型 -->
    <select id="selectAllUser" resultType="Map">  <!-- 书写 SQL 语句 -->
        SELECT *,
        (SELECT COUNT(f.fid) FROM follow as f WHERE u.uid=f.followed_id AND type=0) AS follerNum,
        (SELECT COUNT(tu.tuid)
        FROM thumb_up AS tu
        JOIN blog AS b
        ON tu.blog_id = b.bid
        WHERE b.user_id = u.uid) AS likeNum,
        (SELECT COUNT(b.bid)
        FROM blog AS b
        JOIN blog AS b2
        ON b.comment_on = b2.bid
        WHERE u.uid = b.user_id) AS forwardNum
        FROM user AS u
        WHERE u.alive = 0 AND u.last_logtime > 0
        ORDER BY u.weight, u.last_logtime
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="uid">
        -- useGeneratedKeys="true" 表示给主键设置自增长
        -- keyProperty="userId"  表示将自增长后的Id赋值给实体类中的userId字段。
        -- parameterType="com.chenzhou.mybatis.User" 这个属性指向传递的参数实体类
        INSERT INTO user (username, nickname, password, sex, age, is_ns, motto, avatar, background)
        VALUES (#{username}, #{nickname}, #{password}, #{sex}, #{age}, #{is_ns}, #{motto}, #{avatar}, #{background})
    </insert>

    <!-- 用户查询 -->
    <select id="selectUser" parameterType="Map" resultType="Map">  <!-- 书写 SQL 语句 -->
        SELECT
        u.*,
        (SELECT COUNT(f.fid) FROM follow as f WHERE u.uid=f.followed_id AND type=0) AS follerNum,
        (SELECT COUNT(f.fid) FROM follow as f WHERE u.uid=f.user_id AND type=0) AS folledNum
        FROM user AS u
        WHERE u.alive = 0
        <if test="keyword != null">
          AND(u.nickname LIKE "%"#{keyword}"%" OR u.motto LIKE "%"#{keyword}"%")
        </if>
        <if test="start != null">
            LIMIT #{startNum},#{endNum}
        </if>
    </select>

    <!--得到用户总被点赞数-->
    <select id="getLikedNumByUid" parameterType="int" resultType="int">
        SELECT COUNT(tu.tuid)
        FROM thumb_up AS tu
        JOIN blog b
        ON tu.blog_id = b.bid
        WHERE b.user_id = #{uid}
    </select>

    <!-- 设置权重 -->
    <update id="setWeight">
        UPDATE user
        SET weight = #{weight}
        WHERE
        uid = #{uid}
    </update>

</mapper>