body {
    /*background: linear-gradient(45deg, #636f85, #6960a0)*/
}

.sponsor {
    width: 400px;
}

.mdui-container-fluid {
    margin-top: 10px !important;
}

.discuss-search-div {
    width: 60%;
}

.blog-discuss-name {
    display: block;
    text-align: center;
}
