.user-cover{
	position: relative;
    	height: 100px;
    	background-repeat: no-repeat;
    	background-size:cover;
}

.user-cover-avatar{
    	height: 70px;
    	width:  70px;
}

.search-bar{
	width:  200px;
}

.report-content{
	height: 250px;
}