.userpanel-body{
	z-index: 2;
    position: fixed;
    right: 0px;
	width: 200px!important;
}
.hotspot-body{
	margin-top: 6px;
    z-index: 2;
    position: fixed;
    right: 120px;
}
.usertag{
	width: 450px;
}
#tagsList {
	position: relative;
	width: 450px;
	height: 450px;
	margin: auto;
}

#tagsList a {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	color: #3F51B5;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 6px;
}

#tagsList a:hover {
	color: #F44336;
	letter-spacing: 2px;
}

.user-cover{
	bottom: 0!important;
}

.user-cover-avatar{
    	height: 100px!important;
    	width:  100px!important;
}

.search-bar{
	width:  200px!important;
}

.image-zone{
	width:  400px!important;
	height:   300px!important;
	background-image: url('../img/imgZone.gif')
}

.setTime-dialog{
	height: 430px!important;
    width: 337px!important;
}


.callat-content{
	height:  400px!important;
}

.discuss-content{
	height:  385px!important;
}

.report-content{
	height: 250px!important;
}

.icon{
	display:none!important;
}